// .navbar {
//     height: 75px;
// }
.brand_custom {
    font-size: 30px;
}

.navbar-brand>a {
    font: bold;
    font-size: large;
    display: block;
}

.nav-link {
    font: bold;
    font-size: large;
    display: block;
}